* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.color-primary {
    color: #FD6E0A;
}

.nav-header {
    font-size: 48px;
    margin-top: 25px;

}

nav ul li {
    display: inline;
    list-style: none;
    margin-top: 25px;
}

nav li {
    margin-right: 20px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}


.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    padding: 16px 28px 22px;
    height: 50px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* bannar styling */

.bannar-style {
    align-items: center;
    margin: 0px 0px 0px 200px;
    display: flex;
    height: 710px;
}

header {
    background: #FFF8F3;
    margin-top: 0;
    background-image: url("/images/hardy.png"),url("/images/header_bg.png");
    background-position:right bottom,right bottom;
    background-repeat: no-repeat;
    height: 790px;
}

.bannar-title-1 {
    font-size: 45px;
    margin-top: 0px;
}

.bannar-title-2 {
    font-size: 70px;
    margin-top: 60px;
}

.bannar-style p,
button {
    margin-top: 30px;
    text-align: left;
    color: #757575;
    font-size: 18px;
}

.btn-download {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    border: 0;
    padding: 20px 38px;
    height: 74px;
    border-radius: 5px;
    background: #FD6E0A;
}
/* about me portion */
.section-info{
    margin:200px 300px;
    background: #FFF8F3;
    height: 500px;
}
.about-me-title{
font-size: 36px;
text-align: center;
padding-top: 30px;

}
.about-me-description{
font-size: 20px;
margin:100px 100px;
text-align: center;
color: #757575;
}
.about-info-container{
display: flex;
text-align: center;
justify-content: space-around;
/*  using justify content:space around for middileing the content  */

}
.about-info{
    text-align: center;

}
.info-title{
    color: #757575;
    font-size:20px;
}
.info-description{
   
    font-size:20px;
    font-weight: 700px;
}
/* what i do style */
.what-i-do{
background:white;
padding-top: 150px;
margin:200px 300px;

}
.section-title{
    text-align: center;
    font-size: 30px;
}
.skills-container{
    display: flex;
    margin-top: 100px;
}
